 .ui_table {
	border: 1px solid lightgray;
	margin-bottom: 10px;
	min-width: 100%;
}

 .ui_table b {
	font-weight:100 !important;
}

 .ui_table_head {
	background: #EEE;
	height: 40px;
	text-align: center;
	font-size: 18px;
	border-bottom: 1px solid lightgray;
}

 .ui_table_body {
	background: #FFF;
}

.ui_table_body > td > table > tbody > tr {
	height:50px;
}

.ui_table_body > td > table > tbody > tr > td:nth-child(1) {
	padding-left:15px;
	vertical-align: middle;
}

.ui_table_body > td > table > tbody > tr > td:nth-child(2) {
	vertical-align: middle;
}